.accordion {
    margin: 20px 0;
  }
  
  .accordionItem {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .accordionHeader {
    padding: 15px;
    cursor: pointer;
    background-color: #003366;
    color: white;
    font-size: 18px;
  }
  
  .accordionContent {
    padding: 15px;
    border-top: 1px solid #ddd;
  }
  