@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bg-logoYellow {
  background-image: url('/Background.svg');
  background-color: #FFFEEB;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Bricolage Grotesque'
}

.bg-logoWhite {
  background-image: url('/Grey BG Pattern.svg');
  background-color: #FFF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Bricolage Grotesque'
}


.bg-logoPurple {
  position: relative;
  background-color: #D1B3FF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Bricolage Grotesque';
  isolation: isolate;
}

.bg-logoPurple::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/images/white_logo.png?w=400');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}

.bg-logoGreen {
  position: relative;
  background-color: #00CE84;
  font-family: 'Bricolage Grotesque';
}

.bg-logoGreen::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/images/white_logo.png?w=400');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.2;  /* Adjust this value between 0 and 1 to control opacity */
  z-index: 0;
}

.font-blog {
  font-family: 'Bricolage Grotesque'
}

@font-face {
  font-family: "glancyr";
  src: url('/src/assets/ttf/glancyr-glancyr-regular-400.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "glancyr";
  src: url('/src/assets/ttf/glancyr-glancyr-bold-700.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "glancyr";
  src: url('/src/assets/ttf/glancyr-glancyr-medium-500.ttf');
  font-weight: medium;
  font-style: normal;
}


.link {
  text-decoration: none;
}